@model SupportAsu.DTO.User.ChangePasswordModel
<form id="change_password_form">
    @Html.HiddenFor(x => x.Login)
    <div class="input-field">
        <span class="input-lable">Старий пароль</span>
        @Html.PasswordFor(x => x.OldPassword, new { @class = "sa-input password_v" })
        <span class="required-field">*</span>
        @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "help-error" })
    </div>
    <div class="input-field">
        <span class="input-lable">Новий пароль</span>
        @Html.PasswordFor(x => x.NewPassword, new { @class = "sa-input" })
        <span class="required-field">*</span>
        @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "help-error" })
    </div>
</form>
<button class='btn--green' id="change_password">Зберегти</button>
<script src="~/Scripts/Custom/User/password.js"></script>

<script>
    var checkPassUrl = '@Url.Action("CheckPassword","User")';
    var changePassUrl = '@Url.Action("ChangePassword","User")'
</script>